@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@400;700&family=JetBrains+Mono&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.no-scrollbar::-webkit-scrollbar {
	display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

code,
pre {
	font-family: 'JetBrains Mono', monospace;
}

html,
body {
	background-color: #0f0f0f;
	font-family: 'Inter', sans-serif;
	color: #e7e7e7;
	scrollbar-color: #6e6e6e #404040;
	overscroll-behavior: none;
}

.link {
	text-decoration: underline;
}

.no-increment-buttons {
	appearance: textfield;
}
.no-increment-buttons::-webkit-inner-spin-button,
.no-increment-buttons::-webkit-outer-spin-button {
	appearance: none;
}

.link:hover {
	text-decoration: none;
}

.link-alt:hover {
	text-decoration: underline;
}

.pretty-link {
	color: #80b5f1;
	text-decoration: none;
	transition: color 0.15s;
}

.pretty-link:hover {
	color: #badaff;
}

/* action  */

.fade-75 {
	transition: opacity 75ms ease-in-out;
}
.fade-100 {
	transition: opacity 100ms ease-in-out;
}
.fade-150 {
	transition: opacity 150ms ease-in-out;
}
.fade-200 {
	transition: opacity 200ms ease-in-out;
}
.no-select {
	user-select: none;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}

.spinner {
	animation: spin 0.8s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
